
{% block content %}
<h1>OpenMensa Parser Bremen</h1>
  <p>This is a parser for every Mensa in Bremen that is managed by the Studirenden Werk Bremen.<p/>
  <p>It is written for the OpenMensa project and therefore returns an XML Feed corresponding to the OpenMensa feed schema. </p>

<p>  To use this parser just append the name of the mensa to the url and the retuned page consits of the XML feed for the mensa.</p>

  * Uni-Mensa: "/mensa/uni-mensa" <br/>
  * Cafeteria GW2: "/cafeteria/gw2" <br/>
  * Mensa Neustadtwall: "/mensa/neustadtswall" <br/>
  * Mensa Werderstraße: "/mensa/werderstraße" <br/>
  * Mensa Flughafen: "/mensa/airport" <br/>
  * Mensa Bremerhaven: "/mensa/bremerhaven" <br/>
  * Cafeteria Bremerhaven: "/cafeteria/bremerhaven" <br/>
  * Interimsmensa HFK: "/mensa/interimsmensa-hfk"<br/>


  {% endblock %}
